  <% include header.ejs %>
  <% include nav.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">

        <div>
          <h3>欢迎使用node微信开发服务器</h3>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">您尚未输入app id，你输入您的app id</label>
              <input name="appid" id="appid" class="form-control" value="" placeholder="请输入正确的app id"/>
            </div>
            <a id="btn" class="btn btn-success" onclick="goto()">马上配置</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    var id = document.getElementById('appid');
    function goto() {
      if (!confirm('当前的appid为［' + id.value + ']\n请确认id无误，确认后需要重新返回当前页才能修改app id!')) {
        return;
      }
      console.log(id.value);
      location.href = '/' + id.value + '/config/app';
    }
  </script>
  <% include footer.ejs %>

