  <% include header.ejs %>
  <% include nav.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <% include left-sidebar.ejs %>
      </div>
      <div class="col-md-8 col-xs-12">
        <div>
          <h3>欢迎使用node微信开发服务器</h3>
          <% if (host) {%>
          <p>您当前的主机域名是:<%=host%></p>
          <p>主机错误？马上调整： <a class="btn btn-success" href="/config/host">马上配置</a>.</p>
          <%} else {%>
          <p>
            微信开发服务器可以帮助你很快速的调试各项功能指标是否可用。只要你花几分钟配置一下你的服务器信息就可以了。<br/>
            <a class="btn btn-success" href="/config/host">马上配置</a>.
          </p>
          <%} %>
        </div>
      </div>
    </div>
  </div>  <% include footer.ejs %>

