<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width">
  <title>请指定返回的URL地址</title>
  <style>
    h1 {
      margin-top: 1em;
      text-align: center;
      color: #428bca;
      font-size: 64px;
    }

    h1 > i {
      color: red;
    }

    h4 {
      margin-top: 0.5em;
      padding: 2px 30px;
      color: #5cb85c;
      font-size: 32px;
    }
  </style>
</head>
<body>
<h1>微信<i>OAuth</i> 连接成功!</h1>
<h4>请通过--redirect参数来指定跳转URL</h4>
</body>
</html>
