<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">微信配置</div>
  <div class="panel-body">
    <p>微信配置用于配置微信的基本信息</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><a href="/config/app">App基本信息配置</a></li>
    <li class="list-group-item"><a href="/config/urls">域名及URL地址配置</a></li>
    <li class="list-group-item"><a href="/config/message">消息配置</a></li>
    <li class="list-group-item"><a href="/config/merchant">商户信息配置</a></li>
    <li class="list-group-item"><a href="/config/pay">支付配置</a></li>
  </ul>
</div>
