<form>
  <div class="form-group">
    <label for="host">主机域名(如:weixin.qq.com)</label>
    <input type="text" name="host" class="form-control" id="host" placeholder="主机域名">
  </div>
  <button type="submit" class="btn btn-default btn-block btn-success">Submit</button>
  <hr/>
</form>
