<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">微信配置</div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><a href="/<%= id %>/pages/jssdk">JSSDK</a></li>
    <li class="list-group-item"><a href="/<%= id %>/pages/oauth">OAuth</a></li>
    <li class="list-group-item"><a href="/<%= id %>/pages/pay">微信支付</a></li>
  </ul>
</div>
