<% include ../header.ejs %>
<% include ../nav.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% include ../left-sidebar.ejs %>
    </div>
    <div class="col-md-8 col-xs-12">
      <form class="form-horizontal" method="post">
        <div class="form-group">
          <label for="aes">Encoding AES Key</label>
          <input type="text" name="aes" class="form-control" id="aes" placeholder="Encoding AES Key">
        </div>
        <hr/>
        <button type="submit" class="btn btn-default btn-block btn-success">Submit</button>
        <hr/>
      </form>
    </div>
  </div>
</div>
<% include ../footer.ejs %>

