<form>
  <div class="form-group">
    <label for="state">State</label>
    <input type="text" name="state" class="form-control" id="state" placeholder="State">
  </div>
  <div class="form-group">
    <% if (updated) { %>
    <div class="alert alert-success" role="alert"><%=type%>信息已经保存！<%=updated%></div>
    <% } %>
    <label for="state">scope</label>
    <input type="text" name="state" class="form-control" id="state" placeholder="State">
  </div>
  <button type="submit" class="btn btn-default btn-block btn-success">Submit</button>
  <hr/>
</form>
